h1 {
  color: rgb(55, 24, 24);
  margin-left: 40%;
  font-size: 50px;
}

body {
  background-color: rgb(237, 210, 195);
}
header {
  z-index: 1000;
  top: 0;
  background-color: rgb(138, 110, 98);
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

header ul {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 5px;
  padding-bottom: 0.4rem;
  gap: 30px;
  overflow-x: auto;
  list-style: none;
  border: 0;
}

header nav ul li a {
  padding: 5px 10px;
  border-radius: 20px;
  background-color: beige;
}

a {
  color: rgb(138, 110, 98);
  text-decoration: none;
  font-weight: 700;
}

.alogo {
  text-decoration: overline;
  color: beige;
  font-size: 2rem;
  font-style: initial;
}

.galleri1 {
  margin-top: 2%;
  margin-left: 0.5%;
  display: flex;
  gap: 10px;
}

.galleri2 {
  margin-top: 2%;
  margin-left: 3%;
  gap: 55px;
  display: flex;
}

.grid1 {
  margin-top: 2%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 0.6%;
}

.video {
  display: flex;
  gap: 20px;
  margin-left: 5%;
}

.grid_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.p1 {
  line-height: 150%;
}
.p2 {
  line-height: 150%;
}

h2 {
  margin-left: 45%;
}

p {
  font-size: 17px;
}
